<div class="flex w-full bg-secondary text-neutral justify-around py-1">
    <div>&copy; Mick Mack | {{currentYear}}</div>
    <div class="flex gap-4">
        <div>
            <svg class="m-2 w-6 h-6 fill-neutral">
                <use xlink:href="assets/sprite-sheet.svg#social-instagram"></use>
            </svg>
        </div>
        <div>
            <svg class="m-2 w-6 h-6 fill-neutral">
                <use xlink:href="assets/sprite-sheet.svg#social-facebook"></use>
            </svg>
        </div>
        <div class="m-2 w-6 h-6 text-neutral">3</div>
    </div>
</div>