<div class="text-sm flex w-full bg-secondary text-neutral items-center justify-around py-1.5">
    <div class="font-secondary">&copy; Mick Mack | {{currentYear}}</div>
    <div class="flex gap-4">
        <a class="cursor-pointer" target="_blank" href="https://www.instagram.com/microcooking_macroclicking/">
            <svg class="w-5 h-5 fill-neutral">
                <use xlink:href="assets/sprite-sheet.svg#social-instagram"></use>
            </svg>
        </a>

        <a class="cursor-pointer" target="_blank" href="https://www.facebook.com/profile.php?id=100063041181617">
            <svg class="w-5 h-5 fill-neutral">
                <use xlink:href="assets/sprite-sheet.svg#social-facebook"></use>
            </svg>
        </a>
    </div>
</div>