<div class="text-sm flex w-full bg-secondary text-neutral items-center justify-around py-1.5">
    <div>
        <span>&copy; Mick Mack</span>
        <span class="font-secondary"> | {{currentYear}}</span>
    </div>
    <div class="flex gap-4">
        <a class="cursor-pointer" target="_blank" href="https://www.instagram.com/microcooking_macroclicking/">
            <svg class="w-5 h-5 fill-neutral">
                <use xlink:href="assets/sprite-sheet.svg#social-instagram"></use>
            </svg>
        </a>

        <a class="cursor-pointer" target="_blank" href="https://www.facebook.com/profile.php?id=100063041181617">
            <svg class="w-5 h-5 fill-neutral">
                <use xlink:href="assets/sprite-sheet.svg#social-facebook"></use>
            </svg>
        </a>

        <a class="cursor-pointer" target="_blank" href="https://wa.me/917619491379">
            <svg class="w-5 h-5 fill-neutral">
                <use xlink:href="assets/sprite-sheet.svg#social-whatsapp"></use>
            </svg>
        </a>
    </div>
</div>