<section id="product-store" class="p-4 scroll-mt-10 bg-secondary text-neutral">
    <h1>Product Store</h1>

    <div
      class="flex flex-col lg:flex-row lg:justify-between gap-y-4 lg:gap-y-0 mx-6"
    >
      <div class="flex flex-col gap-y-2">
        <div class="text-xs sm:text-sm uppercase">Category</div>

        <div class="flex flex-wrap gap-2 text-xs sm:text-base">
          <button
            *ngFor="let category of storeProductCategories"
            (click)="selectedStoreProductCategory = category"
            class="border border-neutral px-2 py-1 rounded-md"
            [ngClass]="{
              'bg-neutral text-secondary':
                selectedStoreProductCategory === category
            }"
          >
            {{ category }}
          </button>
        </div>
      </div>

      <div
        *ngIf="selectedStoreProductCategory === 'Edible Goods'"
        class="flex flex-col gap-y-2"
      >
        <div class="text-xs sm:text-sm uppercase">Dietary Option</div>

        <div class="flex flex-wrap gap-2 text-xs sm:text-base">
          <button
            *ngFor="let dietaryOption of dietaryOptions"
            (click)="updateSelectedDietaryOptions(dietaryOption)"
            class="border border-neutral px-2 py-1 rounded-md"
            [ngClass]="{
              'text-neutral': isDietaryOptionSelected(dietaryOption),
              'bg-neutral text-secondary': dietaryOption === 'All' && isDietaryOptionSelected('All'),
              'bg-food-vegan': dietaryOption === DietaryOption.VEGAN && isDietaryOptionSelected(DietaryOption.VEGAN),
              'bg-food-vegetarian': dietaryOption === DietaryOption.VEGETARIAN && isDietaryOptionSelected(DietaryOption.VEGETARIAN),
              'bg-food-egg': dietaryOption === DietaryOption.EGG && isDietaryOptionSelected(DietaryOption.EGG),
              'bg-food-nonVegetarian': dietaryOption === DietaryOption.NON_VEGETARIAN && isDietaryOptionSelected(DietaryOption.NON_VEGETARIAN),
            }"
          >
            {{ dietaryOption | enumParser }}
          </button>
        </div>
      </div>
    </div>

    <ng-container
      *ngIf="
        storeProducts
          | productFilter : 'category' : selectedStoreProductCategory
          | dietaryFilter
            : (selectedStoreProductCategory === 'Edible Goods'
                ? selectedDietaryOptions
                : ['All'])
            : 'Store';
        let filteredProducts = $implicit"
    >
      <ng-container
        *ngIf="filteredProducts.length; else NoProductsAvailable"
      >
        <div
          class="m-6 flex overflow-x-scroll sm:overflow-x-auto sm:grid sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-6"
        >
          <div
            *ngFor="let product of filteredProducts"
            class="w-1/2 shrink-0 sm:w-auto sm:col-span-1 flex flex-col bg-neutral text-secondary p-3 mb-2 sm:mb-0"
          >
            <img
              src="/assets/media/{{ product.imageFileName }}"
              alt="A photo of the product: {{ product.name }}."
              class="border border-secondary"
            />
            <div class="flex flex-col h-full text-secondary">
              <div class="text-base sm:text-lg font-semibold">
                {{ product.name }}
              </div>
              <div class="flex justify-between items-center">
                <div
                  *ngIf="product.dietaryOption"
                  [title]="product.dietaryOption | enumParser"
                  class="cursor-pointer w-3 h-3"
                >
                  <svg class="fill-none w-full h-full">
                    <use
                      [attr.xlink:href]="
                        'assets/sprite-sheet.svg#' +
                        product.dietaryOption +
                        '-light'
                      "
                      class="fill-none stroke-none"
                    ></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
</section>

<ng-template #NoProductsAvailable>
    <div class="text-neutral w-full m-6 text-center">
      Sorry, no products are available under the current filter criteria!
    </div>
  </ng-template>