<section id="about-us" class="p-4 scroll-mt-10 text-secondary">
    <h1>About The Chef</h1>

    <div class="flex flex-col lg:flex-row">
      <div class="w-1/3 hidden lg:flex justify-center items-center">
        <div
          class="h-96 max-h-full aspect-[3/5] bg-[url('/assets/media/Founder.jpg')] bg-cover bg-center bg-no-repeat -rotate-3 shadow shadow-primary/35"
        ></div>
      </div>

      <div
        class="w-full lg:w-2/3 px-6 leading-loose lg:px-0 lg:leading-relaxed text-lg flex flex-col gap-y-4 lg:justify-evenly"
      >
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          dicta, incidunt hic sapiente dolor praesentium a, deleniti sit commodi
          accusantium omnis aliquam quas error vel laudantium exercitationem
          laborum iste! Culpa.
        </p>
        <p>
          Cotton candy caramels chocolate bar dragée muffin donut cupcake
          brownie jujubes. Gingerbread donut toffee cookie tart lemon drops.
          Tootsie roll chocolate cake marzipan cookie caramels cotton candy
          cake. Pudding pastry donut bonbon cheesecake topping liquorice wafer
          icing.
        </p>
        <p>
          Iste labore sapiente fugiat dicta unde itaque totam atque provident
          accusamus maiores. Quam cupiditate quisquam nihil, minima id similique
          nulla modi optio in quo laborum magnam saepe assumenda iusto. Id.
        </p>
      </div>
    </div>
</section>