<section id="about-us" class="mt-2 p-4 scroll-mt-10">
  <h1 class="text-secondary">Behind The Apron</h1>

  <div class="flex flex-col lg:flex-row mx-6 mt-6">
    <div class="flex items-center self-end lg:self-auto lg:w-1/3 lg:flex-col lg:justify-center">
      <div class="aspect-square h-20 max-h-full -rotate-3 rounded-full border-2 border-vanilla bg-[url('/assets/media/Founder.jpg')] bg-cover bg-center bg-no-repeat shadow shadow-primary/35 lg:aspect-[9/16] lg:h-80 lg:rounded-md lg:border-4"></div>
      <div class="flex flex-col justify-start lg:justify-center ml-3 lg:mt-2">
        <div class="text-left text-xl w-full font-semibold lg:text-center">Fayiza</div>
        <div class="text-left w-full text-secondary lg:text-center">Founder and Baker</div>
      </div>
    </div>

    <div
      class="w-full lg:w-2/3 mt-4 lg:mt-0 leading-loose lg:leading-relaxed text-lg flex flex-col gap-y-4 lg:justify-evenly text-justify"
    >
      <p>
        Hi<span class="animate-wave inline-block origin-bottom-left"><span class="transform scale-x-[-1] origin-center inline-block">👋🏼</span></span>, I am Fayiza. I have got a sweet tooth for desserts since my childhood. Moving to UAE post marriage, I tuned my sweet tooth into not just devouring, but also baking them for my family and friends. The biggest appreciation for me was when all my guests say that they would definitely visit us again surely for the desserts if not for anything else. I also started capturing moments of my baking which brought me into food photography as well. Around September 2015, one of my guests wrote me a heartfelt thank you letter, signed by all ages in their family, appreciating my creations and also titling me the "Sweets Queen", which kindled me to also showcase my creations on to social media platforms as well.
      </p>
      <p>
        To streamline my passion into profession, I completed my Professional Diploma in Knightsbridge PME School of Cake Decorating and Confectionery Arts, along with several other courses. "Knowledge shared is knowledge squared"; I also undertake classes, guiding passionate bakers master the art.
      </p>
      <p>
        <span>Food has so many factors that contribute to its success. The first and foremost of them is its visual treat - the way it is presented. The first half of a food's victory lies there. That's what made me coin '</span>
        <span>
          <span class="text-highlight font-semibold">Mi</span>
          <span class="animate-fadeOutIn">cro </span>
          <span class="text-highlight font-semibold">C</span>
          <span class="animate-fadeOutIn">oo</span>
          <span class="text-highlight font-semibold">k</span>
          <span class="animate-fadeOutIn">ing </span>
          <span class="text-highlight font-semibold">Ma</span>
          <span class="animate-fadeOutIn">cro </span>
          <span class="text-highlight font-semibold">C</span>
          <span class="animate-fadeOutIn">lic</span>
          <span class="text-highlight font-semibold">k</span>
          <span class="animate-fadeOutIn">ing</span>
        </span>
        <span>', combining my passion for baking and the interests to showcase them.</span>
      </p>
      <p>
        Not to forget, a special mention and thanks to the residents of The Promont, Bangalore who gave me a great support in the launch of my India edition of Mick Mack.
      </p>
    </div>
  </div>
</section>