<section class="mt-12">
    <h1 class="font-primary mt-0 bg-primary text-neutral">Baking</h1>

    <div class="flex w-full justify-around mt-6 items-center">
        <div
            (click)="previous()"
            class="slider-navigation flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-secondary text-2xl font-bold text-neutral"
            [ngClass]="{'disabled': !hasPrevious()}"
        >
            <span>&lt;</span>
        </div>

        <div
            class="w-3/4 grid grid-flow-col grid-rows-1 gap-x-20 overflow-x-hidden auto-cols-[75%] sm:auto-cols-[50%] md:auto-cols-[30%]"
        >
            <div
                *ngFor="let class of bakingClasses"
                class="flex flex-col items-center shrink-0"
                [style.transform]="'translateX(calc(' + (-100 * currentIndex) + '%' + ' - ' + (5 * currentIndex) + 'rem' + ' + ' + ((100 - elementWidth) / 2) + '%' + '))'"
            >
                <img src="assets/media/course-banners/{{class.bannerImageFileName}}" role="presentation" alt="A banner image for {{class.name}}." class="w-4/5 aspect-square object-cover rounded-full"/>
                <div class="my-4 w-full break-words font-secondary text-xl text-center font-bold">{{class.name}}</div>
                <div class="w-full break-words text-center">{{class.description}}</div>
            </div>
        </div>

        <div
            (click)="next()"
            class="slider-navigation flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-secondary text-2xl font-bold text-neutral"
            [ngClass]="{'disabled': !hasNext()}"
        >
            <span>&gt;</span>
        </div>
    </div>
</section>