<section class="mt-10">
    <h1 class="font-primary mt-0 bg-primary text-neutral">Mick Mack Store</h1>

    <div class="px-4 py-2 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
        <div routerLink="/store/cooking-books" class="cursor-pointer group relative text-2xl text-center text-neutral bg-cover bg-center h-40 flex items-center justify-center font-semibold font-secondary border border-secondary overflow-hidden">
            <div class="absolute inset-0 bg-[url('assets/media/studio/BakingClass.jpg')] bg-cover bg-center aspect-video filter grayscale group-hover:filter-none"></div>
            <div class="relative z-10 px-4 py-2 bg-primary/50 h-full w-full flex items-center justify-center text-center">Tasty Tomes</div>
        </div>

        <div class="group relative text-2xl text-center text-neutral bg-cover bg-center h-40 flex items-center justify-center font-semibold font-secondary border border-secondary overflow-hidden">
            <div class="absolute inset-0 bg-[url('assets/media/studio/FoodPhotography.jpg')] bg-cover bg-center aspect-video filter grayscale group-hover:filter-none"></div>
            <div class="relative z-10 px-4 py-2 bg-primary/50 h-full w-full flex items-center justify-center text-center">Food Photography Props</div>
        </div>

        <div class="group relative text-2xl text-center text-neutral bg-cover bg-center h-40 flex items-center justify-center font-semibold font-secondary border border-secondary overflow-hidden">
            <div class="absolute inset-0 bg-[url('assets/media/studio/MenuDesign.jpg')] bg-cover bg-center aspect-video filter grayscale group-hover:filter-none"></div>
            <div class="relative z-10 px-4 py-2 bg-primary/50 h-full w-full flex items-center justify-center text-center">Cutleries & Crockeries</div>
        </div>
    </div>
</section>