<section id="contact" class="p-4 scroll-mt-10">
    <h1 class="text-secondary">Get In Touch</h1>

    <div class="flex flex-row flex-wrap justify-around mt-6 gap-4">
      <div class="flex flex-col">
        <div class="font-secondary uppercase text-sm text-secondary">Mobile Number</div>
        <a href="tel:+917619491379" class="font-semibold text-base md:text-lg">(+91) 76 1949 1379</a>
      </div>

      <div class="flex flex-col">
        <div class="font-secondary uppercase text-sm text-secondary">E-Mail</div>
        <a href="mailto:sfmickmack@gmail.com" class="font-semibold text-base md:text-lg">SFMickMack&#64;gmail.com</a>
      </div>
    </div>
</section>