<section id="contact" class="p-4 scroll-mt-10 bg-primary text-neutral">
    <h1>Get In Touch</h1>

    <div class="flex flex-row flex-wrap justify-around mt-6 gap-4">
      <div class="flex flex-col">
        <div class="font-semibold uppercase text-sm">Mobile Number</div>
        <a href="tel:+917619491379" class="text-base md:text-lg"
          >(+91) 76 1949 1379</a
        >
      </div>

      <div class="flex flex-col">
        <div class="font-semibold uppercase text-sm">Mobile Number</div>
        <a href="tel:+917619241379" class="text-base md:text-lg"
          >(+91) 76 1924 1379</a
        >
      </div>
    </div>
</section>