<section
    id="homemade-indulgence"
    class="p-4 mt-10 flex flex-col items-center"
  >
    <h1 class="font-primary">Live Menu</h1>

    <div class="flex flex-col w-4/5 md:w-2/5 mt-4">
        <div *ngFor="let category of menuItemCategories; let index = index;">
            <button (click)="toggleAccordion(index)" class="bg-[#D3BFB1] text-primary text-xl w-full flex justify-between items-center p-2 font-semibold border-b border-secondary">
              <span>{{category}}</span>
              <span id="icon-1" class="text-slate-800 transition-transform duration-300">
                <span *ngIf="accordionStates[index] === 'collapsed'">
                    <svg class="w-6 h-6 fill-primary">
                        <use xlink:href="assets/sprite-sheet.svg#expand"></use>
                    </svg>
                </span>
                <span *ngIf="accordionStates[index] === 'expanded'">
                    <svg class="w-6 h-6 fill-primary">
                        <use xlink:href="assets/sprite-sheet.svg#collapse"></use>
                    </svg>
                </span>
              </span>
            </button>
            <div [@accordionState]="accordionStates[index]" class="my-2 flex flex-col gap-4">
                <div *ngFor="let menuItem of menuItems | productFilter : 'category' : category" class="flex w-full bg-secondary/5">
                    <img src="assets/media/bakery-products/{{menuItem.imageFileName}}" alt="" class="h-24 w-auto">
        
                    <div class="flex flex-col w-full gap-1 p-2">
                        <div class="flex flex-col grow font-primary">
                            <div class="font-semibold text-lg">{{menuItem.name}}</div>
                            <div class="text-xs">{{menuItem.description}}</div>
                        </div>
        
                        <div class="flex flex-col ml-4 font-monospace">
                            <div *ngFor="let variant of menuItem.variants" class="flex justify-between items-center">
                                <div class="text-sm">{{variant.name}}</div>
                                <div class="font-semibold">{{variant.price | number: "1.2-2"}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/TresLeches.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow font-secondary">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Rose Milk Tresleches</div>
                    </div>
    
                    <div class="text-xs">
                        A floral twist on the classic tres leches, soaked in a blend of rose-infused milk and topped with airy whipped cream.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>1/2 kg</div>
                        <div>999.00</div>
                    </div>

                    <div class="flex justify-between">
                        <div>1 kg</div>
                        <div>1,745.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/StrawberryPannaCotta.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow font-secondary">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Strawberry Panna Cotta</div>
                    </div>
    
                    <div class="text-xs">
                        A luscious, creamy Italian dessert made with sweetened cream and real strawberry puree, set to perfection. Topped with a vibrant strawberry glaze, this silky treat offers a delightful balance of tart and sweet flavors.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>Regular</div>
                        <div>234.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/StrawberryPannaCotta.jpg" alt="" class="h-36 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow font-secondary">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Strawberry Panna Cotta</div>
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>Regular</div>
                        <div>234.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/TresLeches.jpg" alt="" class="h-36 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow font-secondary">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Rose Milk Tresleches</div>
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>1/2 kg</div>
                        <div>999.00</div>
                    </div>

                    <div class="flex justify-between">
                        <div>1 kg</div>
                        <div>1,745.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/StrawberryPannaCotta.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Strawberry Panna Cotta</div>
                        <div class="font-monospace">234.00</div>
                    </div>
    
                    <div class="text-xs">
                        A luscious, creamy Italian dessert made with sweetened cream and real strawberry puree, set to perfection. Topped with a vibrant strawberry glaze, this silky treat offers a delightful balance of tart and sweet flavors.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/TresLeches.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Rose Milk Tresleches</div>
                    </div>
    
                    <div class="text-xs">
                        A floral twist on the classic tres leches, soaked in a blend of rose-infused milk and topped with airy whipped cream.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>1/2 kg</div>
                        <div>1,345.00</div>
                    </div>

                    <div class="flex justify-between">
                        <div>1 kg</div>
                        <div>2,245.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/TresLeches.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Rose Milk Tresleches</div>
                    </div>
    
                    <div class="text-xs">
                        A floral twist on the classic tres leches, soaked in a blend of rose-infused milk and topped with airy whipped cream.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>1/2 kg</div>
                        <div>1,345.00</div>
                    </div>

                    <div class="flex justify-between">
                        <div>1 kg</div>
                        <div>2,245.00</div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>