<section
    id="homemade-indulgence"
    class="p-4 mt-10 grid grid-cols-5"
  >
    <div class="col-span-5 md:col-span-3">
        <h1 class="font-primary">Live Menu</h1>

        <div class="p-4 flex flex-col">
            <div *ngFor="let category of menuItemCategories; let index = index;">
                <button (click)="toggleAccordion(index)" class="bg-vanilla text-primary text-xl w-full flex justify-between items-center p-2 font-semibold border-b border-secondary">
                    <span>{{category}}</span>
                    <span id="icon-1" class="text-slate-800 transition-transform duration-300">
                    <span *ngIf="accordionStates[index] === 'collapsed'">
                        <svg class="w-6 h-6 fill-primary">
                            <use xlink:href="assets/sprite-sheet.svg#expand"></use>
                        </svg>
                    </span>
                    <span *ngIf="accordionStates[index] === 'expanded'">
                        <svg class="w-6 h-6 fill-primary">
                            <use xlink:href="assets/sprite-sheet.svg#collapse"></use>
                        </svg>
                    </span>
                    </span>
                </button>
                <div [@accordionState]="accordionStates[index]" class="my-2 flex flex-col gap-4">
                    <div *ngFor="let menuItem of menuItems | productFilter : 'category' : category" class="flex w-full bg-secondary/5">
                        <div class="flex w-4/5">
                            <img src="assets/media/bakery-products/{{menuItem.imageFileName}}" alt="" class="h-24 w-auto">
            
                            <div class="flex flex-col gap-1 p-2 w-full">
                                <div class="flex flex-col grow font-primary">
                                    <div class="font-semibold text-lg">{{menuItem.name}}</div>
                                    <div class="text-xs">{{menuItem.description}}</div>
                                </div>
                
                                <div class="flex flex-col ml-4 font-monospace gap-y-2">
                                    <div *ngFor="let variant of menuItem.variants" class="flex justify-between items-center">
                                        <div class="text-sm">{{variant.name}}</div>
                                        <div class="font-semibold">{{variant.price | number: "1.2-2"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="border-l border-dashed flex flex-col gap-1 p-2 w-1/5 min-w-fit justify-end">
                            <div class="flex flex-col font-monospace gap-y-2 items-center">
                                <div *ngFor="let variant of menuItem.variants;" class="flex justify-center items-center w-full">
                                    <ng-container *ngIf="getQuantity(variant.skuID) > 0; else AddToCart">
                                        <button
                                            (click)="decreaseQuantity(variant.skuID)"
                                            class="bg-secondary/15 font-semibold min-w-8 rounded-sm flex justify-center items-center disabled:pointer-events-none disabled:opacity-25"
                                            [disabled]="isQuantityMinimum(variant.skuID)"
                                        >
                                            <svg class="w-6 h-6 fill-secondary">
                                                <use xlink:href="assets/sprite-sheet.svg#subtract"></use>
                                            </svg>
                                        </button>
                                        <input
                                            type="number" readonly
                                            [value]="getQuantity(variant.skuID)"
                                            class="w-10 text-center outline-none ring-0"
                                        >
                                        <button
                                            (click)="increaseQuantity(menuItem, variant)"
                                            class="bg-secondary/15 font-semibold min-w-8 rounded-sm flex justify-center items-center disabled:pointer-events-none disabled:opacity-25"
                                            [disabled]="isQuantityMaximum(variant)"
                                        >
                                            <svg class="w-6 h-6 fill-secondary">
                                                <use xlink:href="assets/sprite-sheet.svg#add"></use>
                                            </svg>
                                        </button>
                                    </ng-container>
    
                                    <ng-template #AddToCart>
                                        <button (click)="increaseQuantity(menuItem, variant)" class="bg-secondary text-center text-neutral w-4/5 rounded-sm">Add</button>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-2">
        <div class="flex w-full flex-col rounded-none rounded-b-none bg-primary/5 md:sticky md:bottom-10 md:left-auto md:right-0 md:top-16 md:rounded-md max-h-[calc(100dvh-7rem)]"
        [ngClass]="isSmallScreenDevice && cartState === 'visible' ? 'rounded-t-xl' : 'rounded-t-none'">
            <div #CartBody
                class="fixed bottom-[4.5rem] left-0 right-auto top-auto md:static flex w-full flex-col h-full gap-y-2 md:gap-y-4 p-4 pb-4 text-neutral bg-primary md:bg-[transparent] md:text-[inherit] max-h-[70dvh] overflow-y-auto popover-cart"
                [ngClass]="isSmallScreenDevice && cartState === 'hidden' ? 'hidden' : 'visible rounded-t-xl'"
            >
                <h2 class="font-secondary">Your Cart</h2>
    
                <div class="flex flex-col text-sm bg-neutral/20 md:bg-neutral p-2">
                    <div class="font-semibold">Note</div>
                    <ul class="list-inside list-disc">
                        <li>All orders must be placed at least 24 hours in advance.</li>
                        <li>Delivery charges are applicable extra, per actuals.</li>
                    </ul>
                </div>
    
                <div
                    *ngIf="cartItems.length > 0"
                    (click)="emptyCartModalState = 'visible'"
                    class="self-end text-sm underline decoration-dotted cursor-pointer"
                >
                    Empty Cart
                </div>
    
                <div class="flex flex-col grow gap-y-4">
                    <ng-container *ngIf="cartItems.length; else EmptyCart">
                        <div *ngFor="let item of cartItems">
                            <div class="text-xs uppercase">{{item.category}}</div>
                            <div class="flex justify-between font-semibold md:text-secondary">
                                <div>{{item.name}}</div>
                                <div>
                                    <span>&#8377;&nbsp;</span>
                                    <span class="font-monospace">{{item.orderCost| number : "1.2-2"}}</span>
                                </div>
                            </div>
                            <div class="flex text-sm font-monospace justify-between">
                                <div class="w-1/3">{{item.variantName}}</div>
                                <div class="w-1/3 text-right">x {{item.orderQuantity}}</div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                    
                <ng-template #EmptyCart>
                    <div class="text-center italic">None here yet. Add some indulgences to treat yourself!</div>
                </ng-template>
            </div>
    
            <div
                class="fixed bottom-8 left-0 right-auto top-auto flex w-full justify-between items-center p-2 text-sm md:sticky md:bottom-0 md:flex-col md:items-start md:justify-normal md:gap-y-4 md:p-4 md:text-base"
                [ngClass]="{
                    'bg-primary text-neutral': isSmallScreenDevice && cartState === 'hidden',
                    'bg-neutral text-primary': isSmallScreenDevice && cartState === 'visible',
                    'border-t border-dashed': !isSmallScreenDevice,
                    'h-10 py-2': isSmallScreenDevice
                }"
            >
                <div
                    (click)="toggleCartState()"
                    class="max-w-fit whitespace-nowrap md:hidden flex justify-center items-center underline underline-offset-2 decoration-dashed cursor-pointer"
                >
                    <ng-container *ngIf="isSmallScreenDevice && cartState === 'hidden'; else HideCartButton">
                        <svg class="w-4 h-4 fill-current">
                            <use xlink:href="assets/sprite-sheet.svg#show-cart"></use>
                        </svg>
                        <span class="ml-1">Show Cart</span>
                    </ng-container>
    
                    <ng-template #HideCartButton>
                        <svg class="w-4 h-4 fill-current">
                            <use xlink:href="assets/sprite-sheet.svg#hide-cart"></use>
                        </svg>
                        <span class="ml-1">Hide Cart</span>
                    </ng-template>
                </div>
    
                <div class="min-w-[33%] max-w-[33%] flex flex-wrap md:flex-nowrap gap-x-2 md:gap-x-0 md:min-w-full justify-center items-center md:items-start md:justify-between font-semibold">
                    <div class="">Cart Total</div>
                    <div>
                        <span>&#8377;&nbsp;</span>
                        <span class="font-monospace">{{getCartValue() | number : "1.2-2"}}</span>
                    </div>
                </div>
    
                <button
                    (click)="placeOrder()"
                    class="min-w-[33%] md:min-w-full flex gap-x-2 rounded-lg px-2 py-1 justify-center items-center disabled:opacity-25 disabled:pointer-events-none disabled:cursor-not-allowed"
                    [ngClass]="!isSmallScreenDevice || cartState === 'visible' ? 'bg-whatsapp text-neutral' : 'bg-neutral text-whatsapp'"
                    [disabled]="cartItems.length === 0"
                >
                    <svg class="w-4 h-4 md:w-5 md:h-5 fill-current">
                        <use xlink:href="assets/sprite-sheet.svg#social-whatsapp"></use>
                    </svg>
                    <span>
                        <span>Place Order</span>
                        <span *ngIf="!isSmallScreenDevice">&nbsp;via WhatsApp</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>

<ng-container *ngIf="emptyCartModalState === 'visible'">
    <div
        (click)="hideEmptyCartModal($event)"
        class="relative z-10"
        aria-labelledby="empty-cart-modal"
        role="dialog"
        aria-modal="true"
    >
        <div
            class="fixed inset-0 bg-primary bg-opacity-35"
        ></div>

        <div class="fixed inset-0 z-20 w-screen overflow-y-auto">
            <div
                class="flex min-h-full items-center justify-center p-4"
                id="empty-cart-modal-background"
            >
                <div class="relative transform overflow-hidden rounded-lg bg-neutral text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl"
                >
                    <div class="bg-primary/10 px-4 py-2 font-semibold">
                        Confirm Action
                    </div>
                    <div class="bg-neutral p-4 flex flex-col">
                        Are you sure you want to clear the items in your cart? This cannot be undone. However, you can add any items to cart again.
                    </div>
                    <div
                        class="bg-secondary bg-opacity-15 px-4 py-3 sm:flex sm:flex-row-reverse sm:items-center"
                    >
                        <button
                            (click)="emptyCart()"
                            type="button"
                            class="inline-flex flex-col w-full justify-center items-center rounded-md border-2 border-primary bg-primary px-2 py-1 font-semibold text-neutral sm:ml-3 sm:w-auto"
                        >
                            Yes, Empty Cart
                        </button>
                        <button
                            id="empty-cart-modal-cancel"
                            type="button"
                            class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold sm:mt-0 sm:w-auto"
                        >
                            No, Go Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>