<section
    id="homemade-indulgence"
    class="p-4 mt-10 flex flex-col items-center"
  >
    <h1 class="font-primary">Live Menu</h1>

    <div class="flex flex-col gap-6 w-4/5 md:w-2/5">
        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/TresLeches.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Rose Milk Tresleches</div>
                    </div>
    
                    <div class="text-xs">
                        A floral twist on the classic tres leches, soaked in a blend of rose-infused milk and topped with airy whipped cream.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>1/2 kg</div>
                        <div>999.00</div>
                    </div>

                    <div class="flex justify-between">
                        <div>1 kg</div>
                        <div>1,745.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/StrawberryPannaCotta.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Strawberry Panna Cotta</div>
                        <div class="font-monospace">234.00</div>
                    </div>
    
                    <div class="text-xs">
                        A luscious, creamy Italian dessert made with sweetened cream and real strawberry puree, set to perfection. Topped with a vibrant strawberry glaze, this silky treat offers a delightful balance of tart and sweet flavors.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/TresLeches.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Rose Milk Tresleches</div>
                    </div>
    
                    <div class="text-xs">
                        A floral twist on the classic tres leches, soaked in a blend of rose-infused milk and topped with airy whipped cream.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>1/2 kg</div>
                        <div>1,345.00</div>
                    </div>

                    <div class="flex justify-between">
                        <div>1 kg</div>
                        <div>2,245.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/TresLeches.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Rose Milk Tresleches</div>
                    </div>
    
                    <div class="text-xs">
                        A floral twist on the classic tres leches, soaked in a blend of rose-infused milk and topped with airy whipped cream.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>1/2 kg</div>
                        <div>1,345.00</div>
                    </div>

                    <div class="flex justify-between">
                        <div>1 kg</div>
                        <div>2,245.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-full bg-secondary/5">
            <img src="assets/media/bakery-products/TresLeches.jpg" alt="" class="h-44 w-auto">

            <div class="flex flex-col w-full gap-1 p-2">
                <div class="flex flex-col grow">
                    <div class="flex justify-between font-semibold text-lg">
                        <div>Rose Milk Tresleches</div>
                    </div>
    
                    <div class="text-xs">
                        A floral twist on the classic tres leches, soaked in a blend of rose-infused milk and topped with airy whipped cream.
                    </div>
                </div>

                <div class="flex flex-col ml-4 font-monospace font-semibold">
                    <div class="flex justify-between">
                        <div>1/2 kg</div>
                        <div>1,345.00</div>
                    </div>

                    <div class="flex justify-between">
                        <div>1 kg</div>
                        <div>2,245.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>