<section class="mt-10">
    <h1 class="font-primary mt-0 bg-primary text-neutral">Mick Mack Kitchen</h1>

    <div class="px-4 py-2 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
        <div class="group relative text-2xl text-right text-neutral bg-cover bg-center h-40 flex items-end justify-end font-semibold font-secondary border border-secondary">
            <div class="absolute inset-0 bg-[url('assets/media/kitchen/HomemadeMasalas.jpg')] bg-cover bg-center"></div>
            <div class="relative z-10 px-1 bg-primary/50 w-full">Homemade Masalas</div>
        </div>

        <div class="group relative text-2xl text-right text-neutral bg-cover bg-center h-40 flex items-end justify-end font-semibold font-secondary border border-secondary">
            <div class="absolute inset-0 bg-[url('assets/media/kitchen/HomemadeHalwas.jpg')] bg-cover bg-center"></div>
            <div class="relative z-10 px-1 bg-primary/50 w-full">Homemade Halwas</div>
        </div>

        <div class="group relative text-2xl text-right text-neutral bg-cover bg-center h-40 flex items-end justify-end font-semibold font-secondary border border-secondary">
            <div class="absolute inset-0 bg-[url('assets/media/kitchen/TraditionalSnacks.jpg')] bg-cover bg-center"></div>
            <div class="relative z-10 px-1 bg-primary/50 w-full">Traditional Snacks</div>
        </div>

        <div class="group relative text-2xl text-right text-neutral bg-cover bg-center h-40 flex items-end justify-end font-semibold font-secondary border border-secondary">
            <div class="absolute inset-0 bg-[url('assets/media/kitchen/DryFruitsNuts.jpg')] bg-cover bg-center"></div>
            <div class="relative z-10 px-1 bg-primary/50 w-full">Dry Fruits & Nuts</div>
        </div>

        <div class="group relative text-2xl text-right text-neutral bg-cover bg-center h-40 flex items-end justify-end font-semibold font-secondary border border-secondary overflow-hidden">
            <div class="absolute inset-0 bg-[url('assets/media/kitchen/FreshVeggies.jpg')] bg-cover bg-center"></div>
            <div class="relative z-10 px-1 bg-primary/50 w-full">Fresh Vegetables</div>
        </div>

        <div class="group relative text-2xl text-right text-neutral bg-cover bg-center h-40 flex items-end justify-end font-semibold font-secondary border border-secondary overflow-hidden">
            <div class="absolute inset-0 bg-[url('assets/media/kitchen/FreshFruits.jpg')] bg-cover bg-center"></div>
            <div class="relative z-10 px-1 bg-primary/50 w-full">Fresh Fruits</div>
        </div>

        <div class="group relative text-2xl text-right text-neutral bg-cover bg-center h-40 flex items-end justify-end font-semibold font-secondary border border-secondary overflow-hidden">
            <div class="absolute inset-0 bg-[url('assets/media/kitchen/FreshMeat.jpg')] bg-cover bg-center"></div>
            <div class="relative z-10 px-1 bg-primary/50 w-full">Fresh Meats</div>
        </div>

        <div class="group relative text-2xl text-right text-neutral bg-cover bg-center h-40 flex items-end justify-end font-semibold font-secondary border border-secondary overflow-hidden">
            <div class="absolute inset-0 bg-[url('assets/media/kitchen/FreshCuts.jpg')] bg-cover bg-center"></div>
            <div class="relative z-10 px-1 bg-primary/50 w-full">Freshly Cut Veggies</div>
        </div>
    </div>
</section>