<section
    id="homemade-indulgence"
    class="p-4 scroll-mt-10"
  >
    <h1 class="font-primary">Indulgences</h1>

    <div
      class="flex flex-col lg:flex-row lg:justify-between gap-y-4 lg:gap-y-0 mx-6 font-secondary"
    >
      <div class="flex flex-col gap-y-2">
        <div class="text-xs sm:text-sm uppercase">Category</div>

        <div class="flex flex-wrap gap-2 text-xs sm:text-base">
          <button
            *ngFor="let category of bakeryProductCategories"
            (click)="selectedBakeryProductCategory = category"
            class="border border-secondary px-2 py-1 rounded-md"
            [ngClass]="
              selectedBakeryProductCategory === category
                ? 'bg-secondary text-neutral'
                : 'text-secondary'
            "
          >
            {{ category }}
          </button>
        </div>
      </div>
    </div>

    <ng-container
      *ngIf="
        bakeryProducts
          | productFilter : 'category' : selectedBakeryProductCategory;
        let filteredProducts = $implicit
      "
    >
      <ng-container
        *ngIf="filteredProducts.length"
      >
        <div
          class="m-6 flex overflow-x-scroll sm:overflow-x-auto sm:grid sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-6"
        >
          <div
            *ngFor="let product of filteredProducts"
            class="w-1/2 shrink-0 sm:w-auto sm:col-span-1 flex flex-col my-2 sm:mb-0"
          >
            <img
              src="/assets/media/bakery-products/{{ product.imageFileName }}"
              alt="A photo of the product: {{ product.name }}."
            />

            <div class="flex flex-col h-full text-primary">
              <div class="text-base sm:text-lg font-bold font-primary">
                {{ product.name }}
              </div>

              <div
                *ngIf="selectedBakeryProductCategory === 'All'"
                class="text-sm uppercase font-secondary"
              >
                {{ product.category }}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
</section>