<section class="flex justify-center items-center h-[80vh] bg-[url('assets/media/Banner.jpg')] bg-cover bg-bottom">
    <div class="flex flex-col lg:flex-row w-full h-full justify-center lg:justify-end items-end p-10 bg-gradient-to-r from-[#000000]/50 to-[#000000]/50">
        <blockquote class="text-neutral text-opacity-75 flex flex-col justify-end items-end">
            <div class="font-slider-bravo text-xl md:text-3xl leading-relaxed md:leading-relaxed xl:leading-relaxed text-right w-10/12 md:w-2/3 md:h-1/2">
                Indulge in the finest experience of the amalgamation of passion and quality!
            </div>
            <div class="flex flex-col items-end">
                <button routerLink="/menu" class="text-lg mt-4 border-2 border-secondary bg-neutral font-secondary shadow-sm shadow-vanilla text-primary rounded-lg font-semibold px-4 py-2">Order Now</button>
                <div class="text-sm mt-1 w-full text-center text-neutral">[FSSAI Approved]</div>
            </div>
        </blockquote>
    </div>
</section>